<h1>Event Page</h1>
<!-- <h2>manipulate the DOM with the data from the ajax call below</h2> -->
<script type="text/javascript">

// $.ajax({
//   url: "Whatever the api event URL is/" + sessionStorage.eventID
//   method: 'GET',
//   data: order
// }).done(function(data) {
//   var eventName = data.name
//   var eventDetails = data.details
// });

</script>
