<h1 class="artist">Event Page</h1>
<!-- <h2>manipulate the DOM with the data from the ajax call below</h2> -->


<script type="text/javascript">
console.log(sessionStorage.eventID);
console.log(sessionStorage.event);

// $.ajax({
//   // url: "http://www.bandsintown.com/event/" +  "/?app_id=WDISM23",
//   url: "//api.bandsintown.com/artists/Skrillex/events.json?callback=?&app_id=WDISM23",
//
//   method: 'GET'
//   // contentType: 'application/json',
//   // or text/plain?
//   // data: JSON.stringify({data: event})
//
// }).done(function(data) {
//   var eventName = data.name;
//   var eventDetails = data.details;
//   console.log(data);
// });

</script>
