<div class="padding"></div>
<div class="padding"></div>

<div id="background"></div>
  <div class="jumbotron vertical-center">
    <div class="container">
      <h1>Near Hear<br>
      <small>Need plans? Enter your zipcode and find out what bands are playing in your neighborhood... tonight.</small></h1>
    </div>
  </div>
