<!DOCTYPE html>
<html>

<!-- Sourcing in javascript -->
<script type="text/javascript" src="js/jquery-3.0.0.min.js"></script>
<script type="text/javascript"  src="js/socket.io-1.4.5.js"></script>
<script type="text/javascript"src= "js/moment.js"></script>

<!-- Sourcing in Bootstrapp -->
<script type="text/css" src = "https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>

<!-- Sourcing in CSS -->
<link rel='stylesheet' type="text/css" href="./css/styles.css">

  <head>
    <meta charset="utf-8">
    <title>Project 3</title>
  </head>
  <body>
    <div class="container">
        <%- body %>
    </div>


  </body>
</html>
