<h1>login</h1>

<form action="/login" method="post">
    <div>
        <label>Username:</label>
        <input type="text" name="username"/>
    </div>
    <div>
        <label>Zipcode:</label>
        <input type="number" name="zipcode"/>
    </div>
    <div>
        <label>Email:</label>
        <input type="text" name="email"/>
    </div>
    <div>
        <label>Password:</label>
        <input type="password" name="password"/>
    </div>
    <div>
        <input type="submit" value="Log In"/>
    </div>
</form>
