<h2>Search Results</h2>

<div class=row>

  <div class="col-sm-2">
    <div class="card card-block">
      <h4 class="card-title">Card title</h4>
      <ul class="card-text">
        <li></li>
        Some quick example text to build on the card title and make up the bulk of the card's content.
      </ul>
      <a href="/event/<% event.id %>" class="card-link">View</a>
    </div>
  </div>

<script type="text/javascript">

$(document).ready(function(){
   $('.events').focus(function(){
     var getEvents = function(){
        var lat = [this comes from somewhere].val();
        var lon = [this comes from somewhere].val();
        var radius = [this comes from somewhere].val();

        if([whatever the api returns] == ''){

          $('.events').html("<h2 class='message'>No events found(?) I think? I don't get this.</h2>");

        } else {

          $('.events').html("<h2 class='event-listings'>I don't know what's supposed to happen here </h2>");

          $.getJSON('http://api.bandsintown.com/events/search?&location=' + lat + lon + '&radius=' + radius + 'format=json&app_id=WDISM23', function(json) {

            if (json != "[]"){

              //need an iterator

                $('events').html("<h2 class='event-listings'>Here is where I figure out how to list the events. </h2>")

            } else {
              function() {
                $('.events').html('<h2 class="No events found.</h2>');
              });
            }
          });
        }
        return false;
}

// Starts of the Bands in Town Search -- Not complete
app.get('/events/:search', function(req, res){
  var apiUrl = 'http://api.bandsintown.com/events/search?&location=' + req.params.search.lat + req.params.search.lon + '&radius=' + req.params.search.radius + 'format=json&app_id=WDISM23';
  console.log(req.params.search);
  request(apiUrl, function(err, response){
    if (err) throw err;

    var events = JSON.parse(response.body)
    events[0].datetime
    // res.send('<li>'+ datetime + '</li>')
    res.json(events)
    res.render('whateverview', {events: datetime})
  })
})
