<!-- <div class="row">
  <div class="col-sm-6 col-sm-offset-3">
    <h4>Welcome, <%= user.local.username %></h4>
  </div>
</div>

<div class="padding"></div>

<div class="row">
  <div class="col-sm-6 col-sm-offset-3">
    <h2>Search for Events</h2>
  </div>
</div>

<form id ="search-form" method="GET">
  <div class="form-group row">
    <div class="col-sm-6 col-sm-offset-3">
      <input type="text" id="address-input" placeholder="Enter Address">
    </div>
  </div>

  <button>Search</button>
</form>

<script type="text/javascript">
var socket = io();
// console.log(map_browser_key);
$('#search-form').submit(function() {
  socket.emit('send-search', $('#address-input').val());
  $('#address-input').val('');
  console.log('message sending');
  return false;
});
</script> -->
