<h2>Welcome, <%= user.local.username %></h2>


<h1>Search for Events</h1>
<form id ="search-form" method="GET">
  <input type="text" id="address-input" placeholder="Enter Address">
  <button>Search</button>
</form>

<script type="text/javascript">
var socket = io();
// console.log(map_browser_key);
$('#search-form').submit(function() {
  socket.emit('send-search', $('#address-input').val());
  $('#address-input').val('');
  console.log('message sending');
  return false;
});
</script>
