<div class="row">
  <div class="col-sm-6">
  </div>
</div>

<div class="padding"></div>

<form id ="search-form" method="GET">
  <div class="form-group row">
    <div class="col-sm-6">
      <h2>Search for Events</h2>
    </div>
  </div>

  <div class="form-group row">
    <div class="col-sm-6">
      <input type="text" id="address-input" placeholder="Enter Address" value= '<%= user.local.zipcode %>' >
    </div>
  </div>

  <div class="form-group row">
    <div class="col-sm-6">
      <input type="number" id="radius-input" placeholder="Search Radius" value= "10" >
    </div>
  </div>

<div class="padding"></div>

  <div class="form-group row">
    <div class="col-sm-6">
      <button type="submit" class="btn btn-primary">Search</button>
    </div>
  </div>

</form>

<div class="padding"></div>

<!-- TODO for testing - needs to be moved to events.ejs -->
<div class="row">
  <div id="map-container" class="col-sm-6">

  </div>
</div>

<script type="text/javascript">
// var socket = io();
$('#search-form').submit(function() {


  // socket.emit('send-search', $('#address-input').val());
  var searchAddress = $('#address-input').val()
  $.ajax({
    url: '/geocode',
    method: 'POST',
    contentType: 'application/json',
    data: JSON.stringify({data: searchAddress})
  })
  .done(function(data){
    console.log('client side dataaasssss', data);
    $.get('/search?query=' + data )
    .done(function(queryData){
      console.log(queryData)
      console.log(data.latitude, data.longitude);
    //   function initMap() {
    //     map = new google.maps.Map(document.getElementById('map-container'), {
    //       center: {lat: data.latitude, lng: data.longitude},
    //       zoom: 8
    //     });
    // }
      console.log(map)
      map.panTo({lat: data.latitude, lng: data.longitude});
    })
})




  $('#address-input').val('');

  console.log('message sending');
  return false;
});

function initMap() {
  map = new google.maps.Map(document.getElementById('map-container'), {
    center: {lat: -34.397, lng: 150.644},
    zoom: 8
  });
}

// socket.on('search-coords', function(search) {
//   // console.log('in index view, search is:', search);
//   // console.log('search.latitude:', search[0].latitude);
//   var focusCoords = [search[0].latitude, search[0].longitude];
//   console.log('in index.html, focusCoords:', focusCoords);
//   var map;
//
// });



</script>

<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBg7qsdMIt6_u3lp0AfjJoz41S2C8fyCRg&callback=initMap"
 async defer>

 </script>
