<h1>User Page</h1>

<h1>Search for Events</h1>
<form method="POST">
  <input type="text" id="street-address" placeholder="Street Address">
  <input type="text" id="city-state-zip" placeholder="City, State, Zip Code">
  <button type="button" id="search-button" name="button">Search</button>
</form>
