<div class="row">
  <div class="col-sm-6 col-sm-offset-3">
    <h4>Welcome, <%= user.local.username %></h4>
  </div>
</div>

<div class="padding"></div>

<form id ="search-form" method="GET">
  <div class="row">
    <div class="col-sm-6 col-sm-offset-3">
      <h2>Search for Events</h2>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-6 col-sm-offset-3">
      <input type="text" id="address-input" placeholder="Enter Address" value= '<%= user.local.zipcode %>' >
    </div>
  </div>

<div class="padding"></div>

  <div class="row">
    <div class="col-sm-6 col-sm-offset-3">
      <button type="submit" class="btn btn-primary">Search</button>
    </div>
  </div>

</form>


<!-- TODO for testing - needs to be moved to events.ejs -->
<div id="map-container" style="width:500px;height:380px;"></div>

<script type="text/javascript">
// var socket = io();
$('#search-form').submit(function() {


  // socket.emit('send-search', $('#address-input').val());
  var searchAddress = $('#address-input').val()
  $.ajax({
    url: '/geocode',
    method: 'POST',
    contentType: 'application/json',
    data: JSON.stringify({data: searchAddress})
  })
  .done(function(data){
    console.log('client side dataaasssss', data);
    $.get('/search?query=' + data.latitude + ', ' + data.longitude )
    .done(function(queryData){
      console.log('qqquerryryryryryr datataa', queryData)
      console.log(data.latitude, data.longitude);
      map.panTo({lat: data.latitude, lng: data.longitude});
      var latLng = {lat: data.latitude, lng: data.longitude}
      queryData.events.forEach(function(el){
        var latLng = {lat: el.venue.latitude, lng: el.venue.longitude}
        placeMarker(latLng, map, el)

      });

})
})




  $('#address-input').val('');

  console.log('message sending');
  return false;
});

function initMap() {
  map = new google.maps.Map(document.getElementById('map-container'), {
    center: {lat: -34.397, lng: 150.644},
    zoom: 8
  });
}



function placeMarker(latLng, map, eventObj) {
    // console.log('placemarker:', latLng, map);
    var marker = new google.maps.Marker({
    position: latLng,
    map: map,
    eventInfo: eventObj
  });

  marker.addListener('click', function(){
    console.log('you clicked me');
    console.log(this.eventInfo)
    var contentString = this.eventInfo.artists[0].name + ' AT ' + this.eventInfo.venue.name 
    var infowindow = new google.maps.InfoWindow({
      content: contentString
    });
    infowindow.open(map, marker);
  })
}


// socket.on('search-coords', function(search) {
//   // console.log('in index view, search is:', search);
//   // console.log('search.latitude:', search[0].latitude);
//   var focusCoords = [search[0].latitude, search[0].longitude];
//   console.log('in index.html, focusCoords:', focusCoords);
//   var map;
//
// });



</script>

<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBg7qsdMIt6_u3lp0AfjJoz41S2C8fyCRg&callback=initMap"
 async defer>

 </script>
