body {
  font-family: 'Raleway', sans-serif;
  background-color: #F7F0F0
}

.navbar {
  height: 80px;
}

.navbar-brand {
  color: #18A999;
  font-weight: 800;
}

.logo {
  height: 50px;
}

h1 {
  color: #18A999;
  font-weight: 800;
}

h2 {
  color: #18A999;
  font-weight: 800;
}

.btn-primary {
  background-color: #18A999;
  color: #484349
}

.btn-danger {
  color: #484349
}

.btn:hover {
  background-color: #8AF3FF;
  color: #484349
}

a {
  color: #484349;
}

a:hover {
  background-color: #8AF3FF;
  text-decoration: none;
}

label {
  color: #484349;
}

#map-container {
  width: 500px;
  height: 380px;
}

.padding {
  height: 20px
}
