body {
  font-family: 'Raleway', sans-serif;
  background-color: #EDEDED;
}

#background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url('/people-party-dancing-music.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100%;
  opacity: 0.8;
  filter:alpha(opacity=80);
}

.navbar {
  height: 100px;
  background-color: #EDEDED;
}

.navbar-brand {
  color: #18A999;
  font-weight: 800;
}

.logo {
  height: 50px;
}

h1 {
  color: #18A999;
  font-weight: 800;
}

h2 {
  color: #18A999;
  font-weight: 800;
}

.btn-primary {
  background-color: #18A999;
  color: #484349
}

.btn-danger {
  color: #484349
}

.btn:hover {
  background-color: #8AF3FF;
  color: #484349
}

a {
  color: #484349;
}

a:hover {
  text-decoration: none;
}

label {
  color: #484349;
}

#map-container {
  width: 500px;
  height: 380px;
}

.padding {
  height: 40px
}
